.header {
    display: grid;
    grid-template-columns: 15% 55% 20% 10%;
    align-items: center;
    background-color: #007bff;
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    color: #FFF;
    z-index: 99;
}

.search-box {
    display: flex;
    justify-content: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    margin: 3%;
    cursor: pointer;
}

#logo:hover,
.register:hover {
    border: 1px solid white;
}

.cart-button:hover {
    opacity: 0.9;
}

.cart-button:active {
    opacity: 0.2;
}

.img {
    font-size: 26px;
    color: rgb(255, 0, 106);
}

#logoName {
    font-size: 26px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.register {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
}

#registerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#icons {
    font-size: 35px;
    color: yellow;
    position: relative;
}

.cart-count {
    color: white;
    padding: 0px 4px;
    font-weight: bold;
    background-color: black;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    right: 1%;
    top: 10%;
    cursor: pointer;
    border: 1px solid transparent;
}

.cart-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: none;
    color: yellow;
    margin-right: 11%;
}

#UserName {
    font-weight: bold;
    position: relative;
    cursor: pointer;
    padding: 5px;
}

#loginContainer {
    position: absolute;
    border: 1px solid transparent;
    background-color: #FF8300;
    visibility: hidden;
    padding: 10px;
}

.loginOption {
    padding: 5px;
    color: rgb(252, 248, 248);
    z-index: 100;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}

#UserName:hover~#loginContainer,
#loginContainer:hover {
    visibility: visible;
}

#nameBox:hover>#UserName,
#UserName:hover~#loginContainer,
#UserName:hover,
.loginOption:hover {
    border: 1px solid #fff;
}